    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About The Project</h2>

                <p>A byproduct of our group’s shared interest in nonprofit organizations, this 8-week project examines relationships the role of nonprofits in Lawrence, KS as part of one of the University of Kansas’ first Introduction to Digital Humanities courses. Using publically-available data from the 2010 US Census to graph demographic information from the City of Lawrence, this project seeks to explore the needs of the Lawrence, KS community and the placement of nonprofits within it. 
</p>
                <p>Our procedure was simple. Using the <a href="http://www.volunteerdouglascounty.org/"> Douglas County United Way’s volunteering website</a>, we selected a sample of 30 of Lawrence’s nonprofits. Using this directory, the websites of our nonprofits, and the last year of articles from the Lawrence Journal World, we gathered information about the nonprofits’ locations, languages spoken, services, and relationships to one another.</p>
                <p>Next, we used the information and GIS locations of the organizations to create an interactive map of our 30 nonprofits with CartoDB, a mapping platform. After plotting the nonprofits with GIS, we added layers of data procured through the City of Lawrence from the 2010 US Census, of neighborhoods that meet federal HUD program guidelines for minority and low income populations. This data helped us foster a greater understanding of environmental justice, and discover what the placement of local nonprofits says about the Lawrence community.
</p>
                <p>To add more depth to our project, we created a visualization of the network connections between our nonprofits using SylvaDB network analysis, and then Gephi (a similar tool). This visualization helps us understand the functional relationships between nonprofits, and the types of services they offer. 
</p>
<p>Finally, we have utilized Github pages to create a website, and share this project with you! We hope that our work will challenge you to consider the needs and services that exist within your own community, and consider whether the placement of nonprofits makes a difference. If you are interested in learning more about our work or our team, please email us at lawrencenonprofit@gmail.com.</p>
            </div>
        </div>
    </section>