<!-- About Section -->
    <section id="conclusions" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Conclusions</h2>

                <p>This project only intends to serve as a small exploration into the current state of the nonprofits in Lawrence. Our selection of nonprofits was based on what we thought would be a representative survey of the nonprofits, but by no means is all inclusive. Because of this, our project may overlook some nonprofits in preference of others.
</p>
                <p>The map we have created does yield to some limitations. With the amount of overlay, the map can seem busy and hard to understand. This might be rectified by showing only one layer at a time, but this then distracts from seeing the whole picture. Additionally, this map does not reflect outreach that various organizations do. For example, Family Promise has a primary location, but also operates out of multiple churches in the area to provide shelter for families in need. This would be difficult to show on the map without getting too confusing--especially on a site that is static--but it is important to show the location of where the services are actually being provided and not just the headquarters.
</p>
                <p>The network shows current partnerships, but only through data available online. This analysis could be deepened by interviewing nonprofits about their current partnerships. The platform also does not lend itself to an analysis of the history of these relationships, how the nonprofit scene has evolved with the coming and going of certain organizations. 
</p>
                <p>Overall, this project is only the beginning of a much larger inquiry into the nonprofit world of Lawrence, KS.  
</p>
            </div>
        </div>
    </section>