    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
               <h2>Racial and Income Demographic Mapping</h2>
               <img src="img/Demographics.png" alt="Racial and Income Demographic Mapping">
               <p><sub><a href="http://bit.ly/1WDoLws">
 Map of Lawrence Racial and Income Demographics</a></sub></p>
                <p>With this map on the CartoDB platform, we wanted to examine the ways in which Lawrence is (un)served by the local nonprofits by illustrating it geographically. By using information about our sample thirty nonprofits, along with overlay map data from the City of Lawrence for minority and low income populations, were able to uncover a greater understanding of environmental justice, and discover what the placement of local nonprofits says about the Lawrence community. 
</p>
                <p>To understand the data sets on given to us by the City of Lawrence, one must be able to define the terms. We received two maps: one on areas in town which house 1.5 times the average amount of residents from a racial or ethnic minority, and another which displayed the population density of people who meet federal guidelines for low or moderate income. The graph that displays the concentration of ethnic minorities in town uses purple circles with varying diameters to depict differences in density across town. The graph that displays the concentration of people with low to moderate income uses a color scale of reds, oranges, and yellows, with areas that have the highest amount of low to moderate income residents shaded in by red. The guidelines used for this data come from the Federal HUD program (Department of Housing and Urban Development).

                </p>
                <p>The location of the nonprofit organizations is shown in green dots over these maps. Looking at this map, what we see in the map is that some nonprofits are located far away from where these populations actually live, potentially making it harder to serve their purpose.The vast majority of Lawrence nonprofits are located downtown, whereas most of the low income and minority communities are located to the southeast and southwest of Massachusetts St. This is not a mark against the nonprofits; rather, it is suggestive of the long history of racial and economic oppression of the city and state. 
</p>
<p>A more in-depth study of the intricate matrix of economic, racial, juridical, legislative, and cultural histories of Lawrence should create a more robust understanding of why welfare services look the way they do, both geographically and culturally. Nonprofits are just one manifestation of such matrices of power.</p>
                <ul class="list-inline banner-social-buttons">
                    {% for network in site.social %}
                    
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>