<!-- Credits Section -->
    <section id="conclusions" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Credits and Disclaimer</h2>

                <p>This project is the result of research conducted by Centennial Clogston, Haley Nus, and Mike Van Esler for Elika Ortega's DH690 course at the University of Kansas.
</p>
<p>
    DISCLAIMER NOTICE
    <br>
The census data is provided “as is” without warranty or any representation of
accuracy, timeliness or completeness. The burden for determining
accuracy, completeness, timeliness, merchantability and fitness for or the
appropriateness for use rests solely on the requester. The City of
Lawrence makes no warranties, express or implied, as to the use of the
census data. There are no implied warranties of merchantability or fitness for a
particular purpose. The requester acknowledges and accepts the
limitations of the census data, including the fact that the census data is dynamic and is in
a constant state of maintenance, correction and update.</p>
               

            </div>
        </div>
    </section>